.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



scorebar {
  width: 100%;
  top: 0;
  display: block;
  height: 9vw;
  display: flex;
}

scorecard {
  flex-basis: 100%;
  text-align: center;
  overflow: hidden;
}

scorecard name {
  display: block;
  font-size: 2vw;
}
scorecard score {
  font-size: 4vw;
}

sentences {
  font-size: 4vw;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  height: 10vw;
}
sentence {
  display: block;
}
