/* SCORES */
.scorebar {
  width: 100%;
  height: 9vh;
  display: flex;
}

.scorecard {
  flex-basis: 100%;
  text-align: center;
  overflow: hidden;
}

.scorecard .name {
  display: block;
  font-size: 2.5vh;
}
.scorecard .score {
  font-size: 5.5vh;
}

/* NOTE AREA */
.noteareas {
  display: grid;
  height: 77vh;
  gap: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.noteareas.twocolumn {
  grid-template-columns: 1fr 1fr;
}

svg.notearea line {
  stroke-width: 0.05;
  stroke: gray;
}

/* SENTENCES */
.sentences {
  font-size: 5vh;
  font-weight: 800;
  width: 100%;
  height: 12vh;
  text-align: center;
  color: white;
  -webkit-text-stroke: 0.3vh black;
}
.sentence {
  display: block;
}
.sentence .freestyle {
  font-style: italic;
}
