.scorebar {
  width: 100%;
  top: 0;
  display: block;
  height: 9vh;
  display: flex;
}

.scorecard {
  flex-basis: 100%;
  text-align: center;
  overflow: hidden;
}

.scorecard .name {
  display: block;
  font-size: 2.5vh;
}
.scorecard .score {
  font-size: 5.5vh;
}

.noteareas {
  display: grid;
  height: 77vh;
  gap: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
}

.noteareas.twocolumn {
  grid-template-columns: 1fr 1fr;
}

svg.notearea {
}

svg.notearea line {
  stroke-width: 0.05;
  stroke: gray;
}

.sentences {
  font-size: 5vh;
  width: 100%;
  height: 12vh;
  text-align: center;
}
.sentence {
  display: block;
}
